<link rel="stylesheet" type="text/css" href="/styles.css">

<div class="main-content artist-container">
<a class="button" href="/ANightOut/<%=venue.id%>">Back</a>


<h3><%=artist.name%></h3>
<div class="button-container">           
<a class="button edit" href="/ANightOut/<%=venue.id%>/<%=artist.id%>/editArtist">Edit</a>
            <form action="/ANightOut/<%=venue.id%>/<%=artist.id%>/deleteArtist?_method=DELETE" method="POST">
                <input class="button" type="submit" value="Delete">
            </form>
</div>
            <h4>Genres</h4>
            <ul>
                <% artist.genres.forEach((genre) => { %>
                    <li>
                        <p><%=genre%></p>
                    </li>
                <%})%>
            </ul>

</div>
